
# Created by https://www.gitignore.io/api/windows,processing

### Processing ###
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows,processing